language: python
python: 3.7

env:
  global:
    # doctr generated secure variable for documentation upload
    - secure: "qFE0NMNbEjr7lLngQgUM5chkTt3gk2PqoY9meyW+w9/GwoSr0/d8TOMDGZmheXBJhd2FBc7a/KRejBHR6Wzt8sNei5d/ifvRM2WccbpSWF+ernrPnGW8tcK3Hn3er3v0nnjfws3G1t4nLdFcg32FAEkM3/vMPO21ZXHVtm2jYrg0KdTa6SrBz1U7Ex89x5R7vySotHWCIWbVU9cc0DREzboQx3vXnYsCZcw4skASTyOSvTARNrIB8YjTVnKIiVg35GwWhmvTLzAwDnnCMy6ifHoxG4T+j7aXtE1qBdcRnTyuUnPxdstQSc6zJ9f+53W1PUu1SpwssFawQQHsPpeiKsv6Lp3pOwugdNItICdKOULyzK8vh7YavIpAtug6qebt6DzTU44hGAdpCKUpBIaqMH+AnFTAm6Qxzw8YiYCSrWTZPBxaismc0Gu4H0v1WDXGHjj9v43OsyVLXinGgroq5YfR8Edb0PMq48mNI1nMgjZfOW1ih6vk8IrrbXKixkStctRkOfMiKXvznM/wHQ8Vqwh0WViUOJkPCvUHyXPqZozqAXXVTzGCkNYx8RUkB3DUFO/o9IsgqThj+n2B92JslN6LNErGQYFF5KBIObR1x+jhN2KwWULJXGI5BI77OKj2WDRJBau7cwL5mBeoNRfbKOw8aqlmUcy+62AQDHvYCSU="
    - TWINCAT_STYLE_EXCLUDE=
    # If using a custom version of the CI helpers, change the following in
    # addition to the `import` block elow:
    # - CI_HELPER_URL=https://github.com/klauer/pcds-ci-helpers
    # - CI_HELPER_BRANCH=twincat_shared_configs

# Uncomment this block if you would like to make a test an allowed failure
#jobs:
#  allow_failures:
#    - name: "Style Check"
#    - name: "Pre-commit Checks"

import:
  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/standard.yml

# If not using the standard-python-conda above please uncomment the required
# (language, os, dist and stages) and optional (import statements) entries from
# the blocks below.
#
#language: python
#os: linux
#dist: xenial
#
#stages:
#  - build
#  - test
#  - name: deploy
#    if: (branch = master OR tag IS present) AND type != pull_request
#
#import:
#  # Build stage
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/setup.yml
#  # Test stage
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/docs-build.yml
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/pragmalint.yml
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/pre-commit.yml
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/style.yml
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/summary.yml
#  # Deploy stage
#  - pcdshub/pcds-ci-helpers:travis/shared_configs/twincat/doctr-upload.yml
